/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my css */
body{
    font-family: 'Manjari', sans-serif;
    color: white;
}
.main-heading{
    text-align: center;
    text-transform: capitalize;
    font-size: 34px;
    padding: 40px 0;
}
.navigation{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}
.links{
    margin: 0 10px;
    margin-bottom: 30px;
    color:white;
    text-decoration: none;
}
.sub-heading{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
}
.para1{
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 200px;
}
.section{
    background-color: #2D3040;
    padding: 0 50px;
}
/* section2 */
.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.section2{
background-color: #4C5C96;

}
.headings{
    text-transform: uppercase;
    padding: 30px 0px 40px 0px;
}

.para2{
    font-size: 24px;
    padding: 50px 0px;
}
.links1{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.section3{
background-color: #45558D;
}
.section4{
    background-color:#3F4E85;
}
.footer-content{
    color: #92939C;
}
.footer{
    padding: 30px 50px;
    background-color:#2D3040;
}
.wrapper{
    
}